.ug-regular-header {
    height: 48px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    background-color: #2e3f5b;
    display: flex;
    align-items: center;
  }
  .header_logo {
    margin-left: 16px;
    margin-top:12px;
    margin-bottom: 12px;
  }
  .left {
    display: flex;
    align-items: center;
  }
  .right {
    display: flex;
    align-items: center;
  }
  .input {
    width: 100%;
    caret-color: #ffffff;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
    padding-left: 16px;
  }
  .input[type="search"]::-webkit-search-decoration,
  .input[type="search"]::-webkit-search-cancel-button,
  .input[type="search"]::-webkit-search-results-button,
  .input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  :focus {
    outline: none;
  }
  ::placeholder {
    height: 19px;
    width: 203px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: 0;
  }
  .search-field {
    height: 32px;
    width: 280px;
    padding-right: 100px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.16);
    border-style: none;
  }
  * {
    font-family: Open Sans;
  }
  .body {
    margin: 0;
  }
  
  .slds-button{
    color: #ffffff;
  }
  .main {
    margin-left:220px;
    padding: 24px;
  }
  .slds-large-nowrap{
      padding-left: 0px !important;
    padding-right: 0px !important;
  }